.main-contact {
  padding: 270px 0 45px;

  &-title {
    color: #ffffff;
    font-family: Poppins;
    font-size: 101px;
    font-weight: 400;
    line-height: 104px;
    /* Text style for "C, ontact" */
    color: #ffffff;
    letter-spacing: 2.02px;
  }
}